<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show Pokemon</title>
</head>
<body>
  <h1>Show Pokemon</h1>

  <h4><%= pokemon.name %></h4>
  <img src="<%= pokemon.img %>" alt="">
  
</body>
</html>